body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(30deg, #0f4c81, #7442c8);
}

.header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    background-color: cadetblue;

    width: 1300px;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 108px;

}

ul{
    list-style-type: none;
}

#top{
    position: absolute;
    top: 125px;
}

#mid{
    position: absolute;
    top: 325px;
}

#bottom{
    position: absolute;
    top: 525px;
}

.button-left{
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    background-color: white;

    width: 400px;
    height: 150px;
    padding-top: 10px;

    position: absolute;
    left: 100px;
}

.button-center{
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    background-color: white;

    width: 400px;
    height: 150px;
    padding-top: 10px;

    position: absolute;
    left: 540px;
}

.button-right{
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    background-color: white;

    width: 400px;
    height: 150px;
    padding-top: 10px;

    position: absolute;
    left: 980px;
}

div:hover{
    background-color: lightcoral;
}

.box-number{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    margin: 15px;
}

.box-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.box-time{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}