/*this modifies the page itself*/
body {
    /*the command here changes the background*/
    background-color: #43638C;
}

/*
    this modifies the contents within the <pre> tag...
    i didn't modify too much, i just wanted to change some things, but let the use of the tag still come through
*/
pre {
    /*this changes the font size*/
    font-size: 16px;
    margin-left: -100px;
}

code {
    font-size: 16px;
}

/*this modifies the contents within the <h1> tag*/
h1 {
    /*this changes the color of the background inside the h1 tag only rather than the whole page*/
    background-color: #D9B97E;
    /*these two change just the top and bottom style of the border*/
    border-top-style: double;
    border-bottom-style: double;
    /*this changes the font of the text... i chose this one to make it stand out*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    /*this deals with the border size to make it so that it does not take up any unnecessary space*/
    box-sizing: border-box;
    /*this works with box-sizing to determine the amount of space*/
    width: fit-content;
    /*padding gives extra space between the border edges and text*/
    padding: 5px;
    margin: auto;
}

/*this modifies the contents within the <h2> tag*/
h2 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /*this changes the color of the background inside the border of the h2 tag only*/
    background: linear-gradient(90deg, #8DC0F0, #D287E6) padding-box;
    /*this changes the thickness of the outline of the order*/
    border-width: 2px;
    /*this modifies the style of the line of the border (either dotted, solid, ridge, etc*/
    border-style: solid;
    /*this adjusts the roundness of the corners of the border*/
    border-radius: 3px;
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
}

/*this modifies the contents within the <h3> tag*/
h3 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/*this modifies the contents within the <p> tag*/
p {
    width: 800px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

div {
    margin: 20px;
    margin-left: 40px;
}